header,
section,
article,
figure {
    display: block;
}

*,
html,
body {
    padding: 0;
    margin: 0;
}

body,
p,
ul,
li,
span,
i,
strong,
input,
textarea {
    font-size: 14px;
    font-family: "微软雅黑";
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #000;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    outline: none;
}

.feedback {
    display: block;
    width: 33px;
    height: 135px;
    margin-top: -67.5px;
    position: fixed;
    right: 0px;
    bottom: 50%;
    background: url(//misc.360buyimg.com/user/reg/3.0.0/css/i/icon.png) no-repeat;
    background-position: -367px 0;
}

#w {
    width: 1210px;
    margin: 0 auto;
}

header {
    height: 110px;
    background: url(//misc.360buyimg.com/user/reg/3.0.0/css/i/headbg.jpg) repeat-x left bottom;
    /* width: 1300px;
    height: 70px;
    margin: 0 auto;
    position: relative; */
}

.dh {
    width: 1210px;
    margin: 0 auto;
}

a {
    color: #666;
    text-decoration: none;
}

.dh .logo {
    width: 160px;
    height: 50px;
    float: left;
    margin-top: 24px;
    background: url(//misc.360buyimg.com/user/reg/3.0.0/css/i/icon.png) no-repeat;
}

.dh .logo-title {
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    margin-top: 34px;
}

.dl {
    font-size: 16px;
    float: right;
    margin-top: 55px;
    color: #999;
}

.dl a {
    color: #e22;
}

.dl a:hover {
    color: #FF0000;
    text-decoration: underline;
}

section {
    position: relative;
    width: 100%;
    height: 600px;
}

.bd {
    width: 1210px;
    height: 600px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    border-bottom: #999999 solid 1px;
}

#zhuce {
    width: 400px;
    height: 420px;
    margin: 0 auto;
    position: relative;
}

#zhuce .yan {
    border: 0 none;
    height: 19px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-style: normal;
    position: absolute;
    top: 170px;
    left: 35px;
    color: #D6D6D6;
    display: none;
}

#zhuce .yan b {
    position: absolute;
    left: -30px;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/tupiao.png) no-repeat 0 0;
}

#zhuce .yan1 {
    border: 0 none;
    height: 19px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-style: normal;
    position: absolute;
    top: 170px;
    left: 35px;
    color: #FFAC3E;
    display: none;
}

#zhuce .yan1 b {
    position: absolute;
    left: -30px;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/tupiao.png) no-repeat 0 0;
}

#zhuce .yan2 {
    border: 0 none;
    height: 19px;
    font-size: 14px;
    font-family: "微软雅黑";
    font-style: normal;
    position: absolute;
    top: 170px;
    left: 35px;
    color: #FFAC3E;
    display: none;
}

#zhuce .yan2 b {
    position: absolute;
    left: -30px;
    top: 0;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/tupiao.png) no-repeat 0 0;
}

.yanzheng {
    display: none;
    position: absolute;
    left: 0;
    bottom: 230px;
    font-family: "Microsoft YaHei";
    background-color: #fff;
    cursor: default;
    border: 1px solid #f00;
    width: 364px;
    height: 216px;
    padding: 12px 12px 12px 20px;
    text-align: center;
    line-height: 216px;
}

.num {
    position: relative;
    margin: 80px auto 0;
    width: 400px;
}

.phone {
    width: 380px;
    height: 55px;
    margin: 0 auto;
    margin-top: 45px;
    border: #999999 solid 1px;
}

.phone .x {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    position: absolute;
    left: 360px;
    top: 130px;
    display: none;
}

.phone .v {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0f0;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 360px;
    top: 130px;
    display: none;
}

.check {
    width: 380px;
    height: 55px;
    margin: 0 auto;
    margin-top: 30px;
    border: darkgray solid 1px;
}

.form-item-phonecode {
    border: none;
    z-index: 110;
    width: 400px;
    position: relative;
    display: none;
}

.phonecode-left {
    position: relative;
    float: left;
    line-height: 55px;
    left: 20px;
}

.btn-phonecode {
    position: absolute;
    right: 20px;
    line-height: 55px;
    float: right;
    width: 118px;
    height: 55px;
}

.form-item-phonecode label {
    border: none;
}

.form-item .phonecode {
    width: 152px;
}

.form-item .field {
    position: absolute;
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    display: block;
    left: 100px;
    top: 17px;
}

.i-status {
    right: 125px;
    display: none;
    position: absolute;
    display: none;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
}

.i-cancel {
    background: url(//misc.360buyimg.com/user/reg/3.0.0/css/i/reg-icon.png) no-repeat;
}

button,
html,
input {
    -webkit-apperance: button;
    cursor: pointer;
}

.input-tip {
    color: #c5c5c5;
    height: 27px;
    font-size: 12px;
    padding-top: 5px;
    position: relative;
}

.audio-tip {
    padding-top: 70px;
    text-align: right;
    font-size: 12px;
    padding-right: 20px;
    display: none;
}

.input-tip span {
    display: block;
    width: 270px;
    position: absolute;
    top: 65px;
    left: 0;
    text-align: center
}

.i-def {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/tupiao.png) no-repeat;
}

.get-auth-code {
    color: #06c;
    cursor: pointer;
}

.next {
    width: 380px;
    height: 55px;
    margin: 0 auto;
    margin-top: 50px;
    border: #999999 solid 1px;
}

.next input {
    text-align: center;
}

.db {
    width: 380px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
}

.gs_icon img {
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 3px;
}

.gs p {
    float: left;
    width: 100px;
    margin-top: 12px;
    margin-left: 5px;
    font-family: "微软雅黑";
    font-size: 12px;
    color: dimgrey;
}

.gs a:hover {
    color: #dd2e12;
}

.gj_icon img {
    margin-top: 4px;
    float: right;
    width: 33px;
    height: 33px;
    margin-right: 5px;
}

.gj p {
    margin-top: 12px;
    margin-right: 5px;
    float: right;
    color: dimgrey;
    font-family: "微软雅黑";
    font-size: 12px;
    color: dimgrey;
}

.gj a:hover {
    color: #dd2e12;
}

.sz {
    width: 380px;
    height: 27px;
    color: darkgray;
}

.sz p {
    margin-bottom: 10px;
    /*left:300px;
top:250px;
position: absolute;*/
    font-size: 24px;
    color: darkgrey;
    display: inline;
}

.one {
    margin-left: 25px;
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    /*圆形边框定义*/
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: white;
    background: #0f0;
}

.two {
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.three {
    width: 26px;
    height: 26px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.nr {
    width: 450px;
    height: 27px;
    margin-top: 10px;
    color: darkgray;
}

.yzsjh {
    margin-left: 10px;
    width: 125px;
    height: 26px;
    margin-right: 50px;
}

.yzsjh p {
    text-align: left;
    display: inline;
    color: #0f0;
}

.tzxx {
    height: 26px;
    width: 150px;
    margin-right: 50px;
}

.tzxx p {
    text-align: center;
    display: inline;
}

.zccg {
    height: 26px;
    width: 100px;
}

.zccg p {
    text-align: right;
    display: inline;
}

.zg {
    padding-top: 15px;
    float: left;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #696969;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px;
}

.phone input {
    padding-left: 20px;
    width: 250px;
    height: 55px;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    color: gray;
    display: inline;
    border: 0;
    border-left: #A9A9A9 solid 1px;
}

.check input {
    width: 380px;
    height: 55px;
    border: 0;
    background: white;
}

.next input {
    width: 380px;
    height: 55px;
    border: 0;
    color: white;
    background: #e2231a;
}

footer {
    position: relative;
    top: 195px;
    right: 280px;
    width: 1000px;
    height: 100px;
}

nav {
    position: absolute;
    top: 20px;
    left: 50px;
    height: 20px;
    width: 900px;
}

.low {
    position: absolute;
    top: 45px;
    left: 350px;
    width: 350px;
    height: 20px;
}

.low p {
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 10px;
    font-family: "微软雅黑";
    text-align: center;
    color: grey;
}

.gywm {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.gywm a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.gywm a {
    color: grey;
}

.lxwm {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.lxwm a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.lxwm a {
    color: grey;
}

.rczp {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.rczp a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.rczp a {
    color: grey;
}

.sjrz {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.sjrz a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.sjrz a {
    color: grey;
}

.ggfw {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.ggfw a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.ggfw a {
    color: grey;
}

.sjjd {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.sjjd a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.sjjd a {
    color: grey;
}

.yqlj {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.yqlj a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.yqlj a {
    color: grey;
}

.xslm {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.xslm a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.xslm a {
    color: grey;
}

.jdsq {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.jdsq a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.jdsq a {
    color: grey;
}

.jdgy {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 14px;
    border-right: #999999 solid 1px;
}

.jdgy a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.jdgy a {
    color: grey;
}

.yyz {
    float: left;
    color: grey;
    font-size: 12px;
    padding-left: 15px;
}

.yyz a:hover {
    color: #dd2e12;
    text-decoration: underline;
}

.yyz a {
    color: grey;
}